@import "../../../../variables";

.back-button {

  background-color: $main-bg-color;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.6rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    background-color: darken($main-bg-color, 10%);
  }

  &:active {
    transform: translateY(1px);
  }

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 0.2rem lighten($main-bg-color, 20%);
  }
}
