@use '../../../../../variables' as ds;

.stat-card {
  flex: 1 1 auto;
  max-width: 250px;
  border: 2px solid ds.$secondary-bg-color;
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
  background-color: ds.$main-bg-color;

  .stat-label {
    margin: 0 0 0.5rem;
    font-size: 0.9rem;
    color: ds.$secondary-text-color;
  }

  .stat-value {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    color: ds.$number-text-color;
  }
}
