@use 'variables' as ds;

:root {
  //--main-bg-color: #{ds.$secondary-bg-color};
  //--main-text-color: #{ds.$secondary-text-color};
  //--number-text-color: #{ds.$number-text-color};
  font-family: #{ds.$main-font-family};
  font-size: #{ds.$base-font-size};
}

body {
  margin: 0;
}
