@use 'variables' as *;

:root {
  --main-bg-color: #{$main-bg-color};
  --main-text-color: #{$main-text-color};
  --number-text-color: #{$number-text-color};
  --mobile-width: #{$mobile-width};
  font-family: #{$main-font-family};
  font-size: #{$base-font-size};
}

body {
  margin: 0;
}
