// Breakpoints
$mobile-width: 600px;

// Colors
$secondary-bg-color: #04838f;
$secondary-text-color: #686868;

$main-bg-color: #fff;
$main-text-color: #fff;

$number-text-color: #333;

$error-color: #dc3545;

// Fonts
$main-font-family: Arial, Helvetica, sans-serif;
$base-font-size: 16px;
